section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #C4D3F6;
}

table{
    background-color: white;
    border-radius: 10px;
    border-collapse: collapse;
}

.thclass{
    background-color: #6c7ae0;
}

td{
    padding: 10px 50px 10px 20px;
    color: gray;
}

th{
    color: white;
    padding: 10px 50px 10px 20px;
}

tr{
    border-bottom: 0.5px solid rgb(211, 211, 211);
    
}

tr:hover{
    background-color: #ECECFF;

}